{% extends "template.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

        <!--Creates a div for the header, the id is used in js to put html from selectorTab into all divs with id navTab-->
        <div id="navTab"></div><br><br>

        <div class="loginPageBody">
            <h2 id="largeHeading">Please login below</h2>
            <form action="/login" method="post">

                <input type="text" name="username" id="loginUser" placeholder="Username" autocomplete="off"></input><br><br>
                <input type="password" name="password" id="loginPass" placeholder="Password" autocomplete="off"></input><br>
                <button name="loginSubmit" type="submit" class="button">Login</button><br><br><br>
                <a href="/register" class=".centered">Don't have an account? Register here!</a><br><br><br>

            </form>
        </div>

{% endblock %}