{% extends "template.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

        <!--Creates a div for the header, the id is used in js to put html from selectorTab into all divs with id navTab-->
        <div id="navTab"></div>

        <h1>Welcome {{name}}!</h1>
        <div class="calendarContainer">
            
            
            <form action="/main" method="post">
                <input type="hidden" name="currentYear" value="{{ year }}"></input>
                <button type="submit" name="prevMonth" value="{{ prevMonth }}" style="display: inline-block;"> &lt; </button>
                <h1 class="centered" style="display: inline-block;">{{ month_name }} {{ year }}</h1>
                <button type="submit" name="nextMonth" value="{{ nextMonth }}" style="display: inline-block;"> &gt; </button>

            </form> 


            <table id="calendar">
                <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
                </thead>
                <tbody>
                {% for week in calendar %}
                    <tr>
                    {% for day in week %}
                        {% if day %}
                            {% if isEntry(year, month_name, day) %}
                                <td><a href="{{ url_for('event', year=year, month=month_name, day=day) }}">{{ day }}</a></td>
                            {% else %}
                                <td>{{ day }} </td>
                            {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>



        <div class="tagClass">

            <form action="/main" method="post">
                <input type="text" name="newTag" placeholder="Add new tag"></input>
                <button type="submit" name="submitNewTag">Submit</button>
            </form>
            {% if tagLen == 0 %}
                <h4> You have no tags! </h4>

            {% else %}
            <form action="/tag" method="post">

                {% for row in tagName %}
                    <button type="submit" name="selectedTag" value="{{ row }}"> {{ row }}</button><br>
                {% endfor %}
            </form>
            {% endif %}


            <br><br><br><a href="/newEntry" class="niceButton">New entry!</a>

        </div>


{% endblock %}

