{% extends "template.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

        <!--Creates a div for the header, the id is used in js to put html from selectorTab into all divs with id navTab-->
        <div id="navTab"></div><br><br>

        <h1>Welcome !</h1>
        <br><br>
        <div class="calendarContainer">
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
        </table>
        </div>
        <!-- 
        <button onclick="document.location='newEntry.html'">New entry</button>
        -->

{% endblock %}

