{% extends "template.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

        <!-- A form for user to register, that will be pushed to the register app route in code.py-->
        <form action="/register" method="post">
            <div class="nameUserDiv">
                <input autocomplete="off" autofocus id="loginUser" name="name" placeholder="Name" type="text">
            </div><br>
            <div class="registerUserDiv">
                <input autocomplete="off" id="loginUser" name="username" placeholder="Username" type="text">
            </div><br>
            <div class="registerPassDiv">
                <input autocomplete="off" id="loginPass" name="password" placeholder="Password" type="password">
            </div><br>
            <div class="registerPassConfDiv">
                <input autocomplete="off" id="loginPass" name="confirmation" placeholder="Confirm password" type="password">
            </div><br>
            <button class="button" type="submit">Register!</button>
        </form>

{% endblock %}