{% extends "template.html" %}

{% block title %}
    Tags
{% endblock %}

{% block main %}
    <h6 class="centered"> {{ tagName }}: </h6>
    <br>

    <div class="centered">
    {% for row in tags %}
        <div class="entryBox">
            <h4> Date of entry: {{ row["date"] }}</h4><br>
            <h4> Title: {{row["title"]}} </h4><br><br>

            <form action="/view" method="post">
                <button type="submit" name="viewEntry" value="{{row["text"]}}"> View&#47;Edit</button><br>
            </form>

        </div>
    {% endfor %}
    </div><br>

{% endblock %}